$sidebarWidth: 270px;
.default-layout {
  height: 100vh;
}
.default-layout-logo {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  height: 50px;
  padding: 10px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 18px;
  &:hover {
    color: white;
  }
}
.default-layout-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.default-layout-aside {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: $sidebarWidth;
  height: 100%;
  z-index: 100;
  background-color: #3b3b3b;
}
.default-layout-aside-menu {
  flex-grow: 1;
  padding: 15px;
  overflow: scroll;
  @include scrollbar();
  .nav-link {
    color: white;
  }
  .nav-link:hover .aside-link-text {
    text-decoration: underline;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $primary;
    color: #3b3b3b;
    font-weight: 700;
  }
}
.aside-li-section-name {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0 5px;
  margin-bottom: 10px;
}
.aside-link {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  font-size: 13px;
}
.aside-link-text {
  margin-left: 15px;
}
.default-layout-main {
  position: relative;
  margin-left: $sidebarWidth;
  flex-grow: 1;
}
.default-layout-main-content {
  min-height: 100vh;
  padding: 50px 15px 45px;
}
